@model IEnumerable<ProjectManagementTool.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2"> Task Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly value="@ViewBag.Task.Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"> Task Description</label>
        <div class="col-md-10">
            <textarea readonly class="form-control" rows="6">@ViewBag.Task.Description</textarea>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Comment")
        </th>
        <th>
            @Html.DisplayName("By")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>

        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment1)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.commenterUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>

            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>*@
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Task List", "Index", "Tasks", null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Replay", "Create", null, htmlAttributes: new { @class = "btn btn-success pull-right" })
</p>

