@model IEnumerable<ProjectManagementTool.Models.AssignResourceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
    @Html.ActionLink("Assign New Person", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
    @Html.ActionLink("Back To Project", "Index", "Projects", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourcePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourcePerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },htmlAttributes: new { @class="btn btn-danger"})
        </td>
    </tr>
}
</table>