@model ProjectManagementTool.Models.RegisterViewModel
@{
    ViewBag.Title = "Add User";
}
<h4>@ViewBag.Title</h4>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @value="123456" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Status, "active") @Html.Label("Active")
            @Html.RadioButtonFor(m => m.Status, "inactive") @Html.Label("Inactive")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Designation, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Designation, new List<SelectListItem>
                {
                    new SelectListItem() {Text = "Developer", Value="Developer"},
                    new SelectListItem() {Text = "Project Manager", Value="ProjectManager"},
                    new SelectListItem() {Text = "Team Lead", Value="TeamLead"},
                    new SelectListItem() {Text = "QA Engineer", Value="QAEngineer"},
                    new SelectListItem() {Text = "UX Engineer", Value="UXEngineer"},
                }, htmlAttributes: new { @class = "form-control" , @size ="4"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add User" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
